<div class="page-header">
    <h2 class="titulo">Movies - <small data-bind="visible: (moviesCount() > 0)"><i class="fa fa-film"></i> Movies List [<span data-bind="text: moviesCount"></span> ]</small></h2>
</div>
<div class="container">
    <div class="white">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Movie Name:</span>
                    <input type="text" id="movieTitle" class="form-control" data-bind="value:searchText" aria-describedby="basic-addon1" placeholder="Movie title" />
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" id="searchBtn" data-bind="click: searchMovies, disable : searchTextGood"><i class="fa fa-search"></i></button>
                <button class="btn btn-default" id="clearSearchBtn" data-bind="click : clearMovies" title="Reset"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-default" id="BudgetBtn" data-bind="click : getBudget" title="Based on budget"><i class="fa fa-credit-card"></i></button>
                <button class="btn btn-default" id="GrossBtn" data-bind="click : getGross" title="Based on gross"><i class="fa fa-money"></i></button>
            </div>
        </div>
        <hr />
        <div class="row" data-bind="foreach: movies">
            <div class="col-md-4">
                <div><i class="fa fa-film"></i> <a data-bind="attr: { href : './index.html#MovieDetails/'+movieID}, text: movie_title"></a></div>
            </div>
        </div>
        <span class="alert alert-danger col-md-12" data-bind="visible: error, html: error"></span>
    </div>
</div>
